{% extends 'baseblog.html' %}

{% block title %}

  Создать товар - {{block.super}}

{% endblock %}

{% block content %}
 <form  action="{% url 'product_create_url' %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}

   {% for field in form %}
<div class="form-group">
  {% if field.errors %}
    <div class="alert alert-danger">
      {{field.errors}}
    </div>
{% endif %}
{{field.label}}
{{field}}
  </div>
   {% endfor %}
   <button type="submit"class="btn btn-primary">Создать товар</button>
 </form>
{% endblock %}
